/* stylelint-disable selector-list-comma-newline-after */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);

.mybutton {
    /*#4f92ff*/
    background-color: #130d19;
    border-radius: 10px;
    color: white/*#444349*/;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    width: auto;
    cursor: pointer;
    /*margin-left: auto;
    margin-right: auto;*/
    transition: all 0.5s ease;
    font-family: 'Raleway', sans-serif;
}


.mybutton:hover {
    /*#4f92ff*/
    background: #719add;
    text-shadow: 4px 4px 2px #333;
}

.error-text {
    font-family: 'Raleway', sans-serif;
    color: #fd0005;
}

.page-title{
    padding-bottom: 10px;
}

.login-container{
    height: 600px;
    margin: auto;
    padding-top: 75px;
    max-width: 300px;
}

#carTitle {
    text-align: center;
    padding-top: 50px;
}


.header-link {
    font-size: 16px;
    color: #130d19;
    font-family: 'Raleway', sans-serif;
}


.sign-out:active {
    color: blue;
}

.remember-me {
    font-size: 20px;
    color: #130d19;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5px;
}

.forgot-pwd {
    /*#2767ce*/
    display: block;
    color: #130d19;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding-top: 15px;
}

.forgot-pwd:active {
    color: blue;
}

.input-header {
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 30px;
    background: url('../Images/download.jpg') 150px 100px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.inputfields {
    width: 300px;
    height: 35px;
    border: 1px solid #130d19;
    border-radius: 7px;
    background-color: rgba(42, 45, 64, 0.2);
    font-family: "Raleway", sans-serif;
    padding-left: 5px;
}


.inputfields:focus {
    /*#4f92ff*/
    outline: none;
    border-color: #1d2c3f;
    box-shadow: 0 0 10px #1d2c3f;
}

footer {
    font-family: "Raleway", sans-serif;
}

/* Unkown */
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
    background: url('../Images/download.jpg') 150px 100px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.myGridClass {
    width: 80%;
    /*this will be the color of the odd row*/
    background-color: #f8f8f8;
    margin: 5px 0 10px 0;
    border: solid 1px #140e1c;
    border-collapse: collapse;
}

/*data elements*/
.myGridClass td {
    font-family: "Raleway", sans-serif;
    padding: 2px;
    border: solid 1px #140e1c;
    color: #140e1c;
}

/*header elements*/
.myGridClass th {
    font-family: "Raleway", sans-serif;
    padding: 4px 2px;
    color: #fff;
    background: #337ab7;
    border-left: solid 1px #525252;
    font-size: 0.9em;
}

.myGridClass .alt { 
    background: rgba(51, 122, 183, 0.1);

}