<?xml version="1.0"?>
<configuration>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="SuperUser, Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
    
    
  </location>
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>

  </location>
</configuration>
